<% content_for :head do %>
  <script>
    window.ENV = {
      "startDate": <%= raw @date_time_range.start.to_json %>,
      "endDate": <%= raw @date_time_range.end.to_json %>,
      "duration": <%= raw @date_time_range.duration.to_json %>
    }
  </script>
<% end %>

<article class="left-bar">
  <article class="datetime">
    <section class="date">
      <span data-date-section="day"><%= start_day @date_time_range %></span>
      <span data-date-section="month"><%= start_month @date_time_range %></span>
      <span data-date-section="year"><%= start_year @date_time_range %></span>
    </section>

    <section class="time">
      <span data-date-section="hours"><%= start_hour @date_time_range %></span>
      :
      <span>00</span>
    </section>
  </article>

  <div class="timeline-container">
    <div class="frame">
      <div class="loaded"></div>
      <div class="played"></div>
    </div>
  </div>

  <ul class="controls is-stopped">
    <li class="prev"><i class="icon-step-backward"></i>Prev</li>
    <li class="play"><i class="icon-play"></i>Play</li>
    <li class="pause"><i class="icon-pause"></i>Pause</li>
    <li class="next"><i class="icon-step-forward"></i>Next</li>
  </ul>

  <div class="temp-scale-container">
    <div class="temp-scale"></div>
  </div>
</article>

<article class="map"></article>

