<!DOCTYPE html>
<html>
<head>
  <title>Weather</title>
  <link id="favicon" rel="icon" type="image/png" />

  <script type="text/javascript" src="//use.typekit.net/twi5hjc.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_application_include_tag %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-25695442-3']);
      _gaq.push(['_setDomainName', 'temperature.at']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  </script>

  <%= yield :head %>
</head>
<body>
  <div class="wrapper">
    <%= yield %>
  </div>
</body>
</html>
