<!DOCTYPE html>
<html>
<head>
  <title>Weather</title>
  <link id="favicon" rel="icon" type="image/png" />

  <script type="text/javascript" src="//use.typekit.net/twi5hjc.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_application_include_tag %>
  <%= csrf_meta_tags %>

  <%= yield :head %>
</head>
<body>
  <div class="wrapper">
    <%= yield %>
  </div>
</body>
</html>
